/* Place your custom SCSS in HUGO_SITE_FOLDER/assets/scss/custom.scss */
@import "custom/variables.scss";
@import "custom/sidebar.scss";
@import "custom/images.scss";
@import "custom/article.scss";
@import "custom/menu.scss";