.section-card {
    .section-image {
        img {
            width: 80px;
            height: 80px;
            border-radius: 6px;
        }
    }
}

/* Compact style article list */
.article-list--compact {
    --image-size: 50px;
    @include respond(md) {
        --image-size: 60px;
    }
    article {
        .article-image {
            img {
                width: var(--image-size);
                height: var(--image-size);
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }
}